<!DOCTYPE html>
<html>
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

<%= yield %>

<div class="row-fluid">
  <div class="span10 offset1">
    <div class="hero-unit">
      <h1>ToDo</h1>
      <p>Welcome to the tutorial's ToDo application</p>
        <%= link_to 'New task', new_task_path, class: 'btn btn-primary', remote: true %>
    </div>
  </div>
</div>

<div id="task-list" class="container">
	<%= render partial: 'tasks/task_list', locals: {tasks: @tasks} %>
</div>



<div id="modal" class="modal fade">
</div>




</body>
</html>
	